*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #0b0d15;
}
.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b448a);
    color: white;
    margin: 50px auto;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    /* background-image: conic-gradient(transparent 50%, blue); */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 20px;
    padding: 3px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --anlge: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-left: 10px;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 120px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
    
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}